{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="container w-50 card card-body mt-5" style="background-color: #CCC9A1; margin-bottom: 140px;" id="signin">
<h2>{% trans "Sign Out" %}</h2>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'booking' %}"> 
  {% csrf_token %}
  <button type="submit">Go back to booking</button>
</form>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-success mt-3 w-20"  type="submit">{% trans 'Sign Out' %}</button>
</form>
    </div>
</div>
{% endblock %}