{% extends "base.html" %}
{% load static %} 
{% load i18n %} 
{% load crispy_forms_tags %}

{% block head_title %}
{% trans "Sign Up" %}{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="container w-50 card card-body mt-5" style="background-color: #CCC9A1; margin-bottom: 40px;" id="signin">
    <h2 class="text-center">Sign Up <i class="fa-solid fa-right-to-bracket"></i></h2>
    <p id="signin-p">
      {% blocktrans %}Welcome to Weber Resturant. Do you already have an account? Then please
        <a class="authenticate-link" href="{{ account_login }}"><b>SIGN IN</b></a>.{% endblocktrans %}
    </p>

    <form
      class="login"
      method="post"
      action="{% url 'account_signup' %}"
    >
      <div class="form-input mt-2">
        {% csrf_token %} {{ form|crispy }} {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
      </div>
      <button class="btn btn-success mt-3 w-20" type="submit">
        {% trans "Sign Up " %} &raquo;
      </button>
    </form>
  </div>
</div>

{% endblock %} 



