/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat&display=swap');


* {
    box-sizing: border-box;
    text-decoration: none; 
}

/*-------------Base styles----------*/

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #3a3a3a; 
}

h1, h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #252525;     
}

h3 {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-size: 30px;
}

/* Navigation links */

.navbar {
    background-color: #5D4E33;
}

.navbar-brand {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}


.nav-link {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    transition: all 2s ease;
}

.nav-link:hover {
    text-decoration: underline;
}

/* about us section */
#about-us {
    background-color: #CCC9A1;
}

/* #about-us {
    background: url("../images/about-bg1.png") center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
} */

.fa-solid {
    color: #5D4E33;
    font-size: 35px;
}

#about-text {
   margin-bottom: 5px;
   font-size: larger;

}

.about-p {
    font-size: 20px;
}

.about-heading {
    text-decoration: underline;
}


/* Special dishes section */

.special-dishes {
    background: url("../images/about-bg1.png") center;
    background-size: cover;
    padding: 48px; 
    color: #c8d6b9;
    text-align: center;   
}


.card-text {
    font-size: large;
}

.card-img-top {
    transition: all 1s ease;
}

.card-img-top:hover {
    transform: scale(1.1);
}


