{% extends "base.html" %}
{% load static %}

{% block content %}

 <!--Sign in section-->

 <div class="wrapper">
    <div class="container w-50 card card-body mt-5" style="background-color: #CCC9A1; margin-bottom: 40px;" id="signin">
      <h2 class="text-center">Create Reservation: <i class="fa-solid fa-pen-to-square"></i></h2>
      <p class="text-center py-3" id="signin-p">Welcome to Weber Restaurant.<br> Dear Customer, to make a booking or add meals to your favorite, please login.</p>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
          <button class="btn btn-success mt-3 w-20 text-center" type="submit">Create</button>
        </p>
      </form>
    </div>
 </div>


  {% endblock  %}
      