{% extends "base.html" %}
{% load static %}

{% block content %}
    <!--Contact section-->
    <div class="wrapper">
        <div class="container mt-5">
          <h2 class="contact-h2 text-center mb-5">We are Here to Assist You! <i class="fa-solid fa-square-phone-flip"></i></h2>
          <div class="row" id="contact-row">
            <!--Time Table with opening hours-->
              <div id="time-table" class="col-sm-12 col-lg-4 border border-light py-3 d-flex flex-column align-items-center justify-content-between">
                <h4 class="mb-5"><strong>Time Table</strong></h4>
                <p class="contact-text-color"><span class="days contact-text-color">Monday</span> .............. <span class="times contact-text-color">9am - 10pm</span></p>
                <p class="contact-text-color"><span class="days contact-text-color">Tuesday</span> .............. <span class="times contact-text-color">9am - 10pm</span></p>
                <p class="contact-text-color"><span class="days contact-text-color">Wednesday</span> .............. <span class="times contact-text-color">9am - 10pm</span></p>
                <p class="contact-text-color"><span class="days contact-text-color">Wednesday</span> .............. <span class="times contact-text-color">9am - 10pm</span></p>
                <p class="contact-text-color"><span class="days contact-text-color">Thursday</span> .............. <span class="times contact-text-color">9am - 10pm</span></p>
                <p class="contact-text-color"><span class="days contact-text-color">Friday</span> .............. <span class="times contact-text-color">9am - 10pm</span></p>
                <p class="contact-text-color"><span class="days contact-text-color">Saturday</span> .............. <span class="times contact-text-color">8am - 10pm</span></p>
                <p class="contact-text-color"><span class="days contact-text-color">Sunday</span> .............. <span class="times  contact-text-color">8am - 10pm</span></p>
            
              </div>

              <div class="col-sm-12 col-lg-6">
                <iframe class="location-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d679722.8973010114!2d10.768605583007941!3d48.28039204083661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e759795f82b6b%3A0xc99bdf627cefefd1!2sEnglish%20Garden!5e0!3m2!1sen!2sde!4v1699912403324!5m2!1sen!2sde" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="Location Map"></iframe>
              </div>
          </div>
         </div>

            <!--Contact details-->
       <div class="container mt-5 mx-auto text-center" id="contact">
        <div class="row">
       <div class="col-lg-4 mb-4">
        <h5><strong>Find Us:</strong></h5>
        <p class="contact-us">
          <b>Weber Restaurant, 35 Berlin Street, 84521 English Garden Munich, Germany</b>
        </p>
        </div>
        <div class="col-lg-4 mb-4">
        <h5><strong>Phone number:</strong></h5>
        <p class="contact-us">
          <b>015306574356</b>
        </p>
        </div>
        <div class="col-lg-4 mb-4">
        <h5><strong>Email:</strong></h5>
        <p class="contact-us">
          <b>weber_restaurant.contact@yahoo.com</b>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock  %}

