{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="wrapper">
    <h2 class="text-center mt-3 mb-5 pt-2" id="menu-item">Menu
      <i class="fa-solid fa-utensils menu-icon"></i>
    </h2>
    <div class="row">
  
      <div class="d-flex flex-column justify-content-center align-items-center gap-5 mt-4">
        <!-- flex -->
        <div class="menu d-flex flex-sm-column gap-5 text-center">
          <div class="img-holder">
            <img src="{% static "images/weber-special1.jpg" %}" height="200" width="250" alt="German beef meat" class="img-fluid">
          </div>
          <div class="text">
            <p class="fs-2">Roulade<span class="mx-3 fs-4">20.00€</span></p>
            <p><b>Ingredieints: </b> <i>Meat, Noodle, Sauerkraut and Sauce.</i></p>
            <p>...................................................................</p>
          </div>
        </div>
        <div class="menu d-flex flex-sm-column gap-5 text-center">
          <div class="img-holder">
            <img src="{% static "images/weber-hero1.jpg" %}" height="200" width="250" alt="Meat with Egg noodle" class="img-fluid">
          </div>
          <div class="text">
            <p class="fs-2"> Meat with Egg Noodles <span class="mx-3 fs-4">17.00€</span></p>
            <p><b>Ingredients: </b> <i>Egg Noodle, Roasted Meat, Sauce and Rosemary </i></p>
            <p>...................................................................</p>
          </div>
  
        </div>
        <div class="menu d-flex flex-sm-column gap-5 text-center">
          <div class="img-holder">
            <img src="{% static "images/weber-hero3.jpg" %}" height="200" width="250" alt="Meat with Potato salad" class="img-fluid">
          </div>
          <div class="text">
            <p class="fs-2">schnitzel <span class="mx-3 fs-4">19.00€</span></p>
            <p><b>Ingredients: </b> <i>Meat, Potato Salad, tomatoes, pepper, eggs, Cucumber, Lemon, and Parsley.</i></p>
            <p>...................................................................</p>
          </div>
  
        </div>
        <div class="menu d-flex flex-sm-column gap-5 text-center">
          <div class="img-holder">
            <img src="{% static "images/weber-special2.jpg" %}" height="200" width="250" alt="Meat with potato salad" class="img-fluid">
          </div>
          <div class="text">
            <p class="fs-2">schnitzel<span class="mx-3 fs-4">18.00€</span></p>
            <p><b>Ingredients: </b> <i>Meat, potato salad, Vegetable salad, lemon, tomatoes, and Lingonberries and Chives</i></p>
            <p>...................................................................</p>
          </div>
  
        </div>
        <div class="menu d-flex flex-sm-column gap-5 text-center">
          <div class="img-holder">
            <img src="{% static "images/weber-special3.jpg" %}" height="200" width="250" alt="Roasted Meat with Potato Dumplings" class="img-fluid">
          </div>
          <div class="text">
            <p class="fs-2">Potato Dumplings <span class="mx-3 fs-4">20.00€</span></p>
            <p><b>Ingredients: </b> <i>Potato Dumplings, Roasted meats, Sauce and Rosemary.</i></p>
            <p>...................................................................</p>
          </div>
  
        </div>
        <div class="menu d-flex flex-sm-column gap-5 text-center">
          <div class="img-holder">
            <img src="{% static "images/weber-menu1.jpg" %}" height="200" width="250" alt="German beef Stew" class="img-fluid">
          </div>
          <div class="text">
            <p class="fs-2"> Gulasch <span class="mx-3 fs-4">18.00€</span></p>
            <p><b>Ingredients: </b> <i>Beef Stew, Meat, Potato dumplings, salad, tomatoes.</i></p>
            <p>...................................................................</p>
          </div>
  
        </div>
        <div class="menu d-flex flex-sm-column gap-5 text-center">
          <div class="img-holder">
            <img src="{% static "images/weber-menu2.jpg" %}" height="200" width="250" alt="Meat with french fries" class="img-fluid">
          </div>
          <div class="text">
            <p class="fs-2">schnitzel<span class="mx-3 fs-4">15.00€</span></p>
            <p><b>Ingredients: </b> <i>Meat, French fries, Ketchup, Lemon, and Salad.</i></p>
            <p>...................................................................</p>
          </div>
  
        </div>
        <div class="menu d-flex flex-sm-column gap-5 text-center">
          <div class="img-holder">
            <img src="{% static "images/weber-menu3.jpg" %}" height="200" width="250" alt="Roasted Meat with Potato " class="img-fluid">
          </div>
          <div class="text">
            <p class="fs-2">Roasted Meat with Potato  <span class="mx-3 fs-4">20.00€</span></p>
            <p><b>Ingredients: </b> <i>Roasted meat, Potato, Pumpkin and Vegetable.</i></p>
            <p>...................................................................</p>
          </div>
          </div>
      </div>
      </div>
            
    </div>
  
  {% endblock  %}
  