{% extends "base.html" %}

{% block content %}
    <head>
      <style>
        table {
          width: 100%;
          border-collapse: collapse;
          margin-top: 20px;
        }
    
        th,
        td {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: left;
        }
    
        th {
          background-color: #f2f2f2;
        }

       
      </style>
    </head>
    <body>
      <div class="wrapper">
        <div class="container form-style w-50 card card-body mt-5 mb-5" style="background-color: #CCC9A1; margin-bottom: 40px;" id="signin">  
        <h2 class="text-center">Confirm Reservation Delete</h2>
    <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete this reservation?</p>
        <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Date</th>
                <th>Time</th>
                <th>Notes</th>
                <th>Number of Guests</th>
                <th>Table Number</th>
              </tr>
            </thead>
        
            <tbody>
              <!-- Sample data, replace with actual data from the application -->
              <tr>
                <td>{{ reservations.name }}</td>
                <td>{{ reservations.customer_email }}</td>
                <td>{{ reservations.date }}</td>
                <td>{{ reservations.time }}</td>
                <td>{{ reservations.notes }}</td>
                <td>{{ reservations.number_of_guests }}</td>
                <td>{{ reservations.table }}</td>
              </tr>
            </tbody>
          </table>
        <input type="submit" value="Confirm" class="btn btn-success mt-3 w-20 text-center">
    </form>
        </div>
      </div>
  </body>
{% endblock  %}