
{% extends "base.html" %} {% block content %}
<head>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
    td.links {
        color: blue;
        background-color: red;
    }
  </style>
</head>
<body> 
<div class="wrapper">
    <div class="container w-50 card card-body mt-5" style="background-color: #CCC9A1; margin-bottom: 40px;" id="signin">
  <h2 class="text-center">Reservation List</h2>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Date</th>
        <th>Time</th>
        <th>Notes</th>
        <th>Number of Guests</th>
        <th>Table Number</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for reservation in reservations %}
      <!-- Sample data, replace with actual data from your application -->
      <tr>
        <td>{{ reservation.name }}</td>
        <td>{{ reservation.customer_email }}</td>
        <td>{{ reservation.date }}</td>
        <td>{{ reservation.time }}</td>
        <td>{{ reservation.notes }}</td>
        <td>{{ reservation.number_of_guests }}</td>
        <td>{{ reservation.table }}</td>
        <td>
          <form method="get" action="{% url 'reservation_edit' reservation.pk %}"> 
            {% csrf_token %}
            <button type="submit">Update Reservation</button>
          </form>
        </td>
        <td><form method="get" action="{% url 'reservation_delete' reservation.pk %}"> 
          {% csrf_token %}
          <button type="submit">Delete Reservation</button>
        </form>
        </td>
      </tr>   
      {% endfor %}
    </tbody>
  </table>
  <form method="post" action="{% url 'booking' %}"> 
    {% csrf_token %}
    <button class="btn btn-success mt-3 w-20 text-center" type="submit">Create a Reservation</button>
  </form>
</body>
{% endblock %}