{% extends "base.html" %} {% block content %}
<head>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    td, th {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    color: black;
   
    }

    th {
      background-color: #f2f2f2;
    }
    
  </style>
</head>
<body> 
<div class="wrapper">
  <div class="container form-style w-50 card card-body mt-5 mb-5" style="background-color: #CCC9A1; margin-bottom: 40px;" id="signin">  
  <h2 class="text-center">Reservation List</h2>
  <div class="row reservation-container">
    <div class="col-10 col-md-8 text-center reservations-table m-3 mx-auto">
      {% if user.is_authenticated %} {% if request.user.is_staff %}
  
      <p>Welcome Staff User. Here you can see all the reservations made!</p>
      <!-- Search querys -->
  
      <div class="row justify-content-center">
        <form method='GET' action="{% url 'reservation_list' %}" class="col-10 col-md-4 col-lg-2">
          {{ search_form.booking_email.label_tag }} {{ search_form.booking_email }}
          <button class="btn btn-success mt-3 w-20 text-center" type='submit' value="Search Booking by ref"
            aria-label="Click to search by booking ref">
            <i class="fas fa-search"></i>
          </button>
        </form>
        <form method='GET' action="{% url 'reservation_list' %}" class="col-10 col-md-4 col-lg-2">
          {{ search_form.booking_date.label_tag }} {{ search_form.booking_date }}
          <button class="btn btn-success mt-3 w-20 text-center" type='submit' value="Search Booking by ref"
            aria-label="Click to search by date">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
      {% endif %}
      {% endif %}

  <table class="table table-striped table-hover table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Date</th>
        <th>Time</th>
        <th>Notes</th>
        <th>Number of Guests</th>
        <th>Table Number</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for reservation in reservations %}
      <!-- Sample data, replace with actual data from your application -->
      <tr>
        <td>{{ reservation.name }}</td>
        <td>{{ reservation.customer_email }}</td>
        <td>{{ reservation.date }}</td>
        <td>{{ reservation.time }}</td>
        <td>{{ reservation.notes }}</td>
        <td>{{ reservation.number_of_guests }}</td>
        <td>{{ reservation.table }}</td>
        <td>
            <a class="btn btn-success mt-3 w-20 text-center" href="{% url 'reservation_edit' reservation.pk %}" style="background-color: blue; padding: 0.6rem;">Update</a>
        </td>
        <td>
          <a class="btn btn-success mt-3 w-20 text-center" href="{% url 'reservation_delete' reservation.pk %}" style="background-color: red; padding: 0.6rem;">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <form method="post" action="{% url 'booking' %}"> 
    {% csrf_token %}
    <button class="btn btn-success mt-3 w-20 text-center" type="submit">Create a Reservation</button>
  </form>
    </div>
  </div>
  </div>
</div>
</body>
{% endblock %}