{% extends "base.html" %}
{% load static %}

{% block content %}


    <!--Contact section-->
    <div class="wrapper">
        <div class="container mt-5">
          <h2 class="contact-h2 text-center mb-5">We are Here to Assist You! <i class="fa-solid fa-square-phone-flip"></i></h2>
          <div class="row">
            <!--Time Table with opening hours-->
              <div style="background-color: #CCC9A1;" class="col-sm-12 col-lg-4 border border-light py-3 d-flex flex-column align-items-center justify-content-between">
                <h4 class="mb-5"><strong>Time Table</strong></h4>
                <p class="contact-text-color"><span class="days contact-text-color">Monday</span> .............. <span class="times contact-text-color">9am - 10pm</span></p>
                <p class="contact-text-color"><span class="days contact-text-color">Tuesday</span> .............. <span class="times contact-text-color">9am - 10pm</span></p>
                <p class="contact-text-color"><span class="days contact-text-color">Wednesday</span> .............. <span class="times contact-text-color">9am - 10pm</span></p>
                <p class="contact-text-color"><span class="days contact-text-color">Wednesday</span> .............. <span class="times contact-text-color">9am - 10pm</span></p>
                <p class="contact-text-color"><span class="days contact-text-color">Thursday</span> .............. <span class="times contact-text-color">9am - 10pm</span></p>
                <p class="contact-text-color"><span class="days contact-text-color">Friday</span> .............. <span class="times contact-text-color">9am - 10pm</span></p>
                <p class="contact-text-color"><span class="days contact-text-color">Saturday</span> .............. <span class="times contact-text-color">8am - 10pm</span></p>
                <p class="contact-text-color"><span class="days contact-text-color">Sunday</span> .............. <span class="times  contact-text-color">8am - 10pm</span></p>
            
              </div>